= form_for @votato do |f|
  - if @votato.errors.any?
    #error_explanation
      %h2= "#{pluralize(@votato.errors.count, "error")} prohibited this votato from being saved:"
      %ul
        - @votato.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
