%h1 Find

= form_tag query_votato_path, :method => :post do
  = label_tag 'media', 'Media'
  = select_tag 'media', "<option>Movie</option><option>TV</option>".html_safe
  = label_tag 'terms', 'Search Terms'
  = text_field_tag 'terms'
  = submit_tag 'Search'
