%h1 Add Votato: #{@tvdbobj.name}

= form_tag create_tvdb_votato_path(@tvdbobj.id), :method => :post do
  = label_tag 'plantation', 'Plantation', :class => 'col-lg-2 control-label'
  = select_tag 'plantation', @plantations_options.html_safe, :class => 'form-control'
  = check_box_tag 'again', 'Search for more?'
  = submit_tag 'Add Votato'