%h1 New plantation

= form_tag plantations_path, :method => :post do
  = label_tag 'plantation[name]', 'Name'
  = text_field_tag 'plantation[name]'
  = label_tag 'plantation[media]', 'Media'
  = select_tag 'plantation[media]', "<option>Movie</option><option>TV</option>".html_safe
  = label_tag 'plantation[privacy]', 'Privacy'
  = select_tag 'plantation[privacy]', "<option>Public</option><option>Private</option>".html_safe
  = submit_tag 'Submit'

= link_to 'Back', plantations_path

