%h1 #{@plantation.name}

- if @saved_tvdbobj
  = link_to 'Add Saved TV Votato', new_tvdb_votato_path(@saved_tvdbobj)
- if @saved_tmdbobj
  = link_to 'Add Saved Movie Votato', new_tmdb_votato_path(@saved_tmdbobj)

- if @votatoes.count > 0
  - @votatoes.each do |votato|
    = link_to plant_path(votato.id), :method => :post do
      Up
    = link_to pluck_path(votato.id), :method => :post do
      Down
    = link_to votato.obj.name, votato.obj.external_link
    = link_to destroy_votato_path(votato.id), :method => :delete, :data => { :confirm => 'Are you sure?' } do
      Delete

- else
  = link_to 'Start Here', find_votato_path

/ TODO - figure out what there is to edit
/ - if @plantation.user == current_user && false
/   = link_to 'Edit', edit_plantation_path(@plantation)
