%h1 #{@plantation.name}

- if @votatoes.count > 0
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th.col-lg-1
          Vote
        %th.col-lg-1
          Ranking
        %th.col-lg-2
          Title
        %th.col-lg-7
          Banner
        %th.col-lg-1
          Action
    %tbody
      - @votatoes.each do |votato|
        %tr
          %td.col-lg-1
            = link_to plant_path(votato.id), :method => :post, :class => 'btn btn-success btn-xs' do
              %span.glyphicon.glyphicon-arrow-up
            = link_to pluck_path(votato.id), :method => :post, :class => 'btn btn-danger btn-xs' do
              %span.glyphicon.glyphicon-arrow-down
          %td.col-lg-1 #{votato.total}
          %td.col-lg-2= link_to votato.tvdbobj.name, votato.tvdbobj.link_to_tvdb
          %td.col-lg-7
            %img{ :src => votato.tvdbobj.img_src }
          %td.col-lg-1
            = link_to destroy_votato_path(votato.id), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger btn-sm' do
              %span.glyphicon.glyphicon-remove
- else
  .jumbotron
    .container
      %h2 You don't have any votatoes yet!
      %p Start by adding some more to plantation '#{@plantation.name}'
      %p
        = link_to 'Start Here', find_votato_path, :class => 'btn btn-primary btn-large'

%br

- if @plantation.user == current_user
  = link_to 'Edit', edit_plantation_path(@plantation)
  \|
= link_to 'Back', plantations_path
